.expense-table{
    margin-top: 40px;
}

table{
    width:80%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

th,td{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid;
    margin: 5px;
    
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color:black;
    color:red;
    border: none;
    cursor: pointer;
  }