.nav-container{
    height: 50px;
    width: 100%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
}
.nav-container a{
    text-decoration: none;
    font-family: monospace;
    font-size: 30px;
    color: black;
}

#premium-button{
    background: linear-gradient(to right, #FFC107, #FF9800);
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 14px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

#premium-button:hover {
    /* You can add additional hover effects here */
    transform: scale(1.05);
  }
  
 

