.nav-container{
    height: 70px;
    width: 100%;
    background-color:initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
    /* box-shadow: 2px 0px 2px; */
}
.nav-container a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: black;
    
}

.nav-container a.active-link {
    /* text-decoration: underline !important; */
    color:whitesmoke;
  }

#premium-button{
    background: linear-gradient(to right, #FFC107, #FF9800);
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 14px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

#premium-button:hover {
    /* You can add additional hover effects here */
    transform: scale(1.05);
  }
  
 

