.form-container{
    display: flex;
    width: 18%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 140px;
    align-items: center;
    box-shadow: 2px 2px 4px 2px darkorange;
    border-radius: 10px;
}

.form-container label{
    font-family: monospace;
    font-size: 20px;
    margin: 10px;
}

.form-container input{
    height: 20px;
    width: 80%;
    font-family: monospace;
    font-size: large;
}

.form-container button{
    width: 50%;
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    font-family: monospace;
    font-size: large;
    background-color: black;
    color: yellow;
    cursor: pointer;
}